<!DOCTYPE html>
<html>
  <head>
    <title>Deletar Item</title>
    <style>
      label {
        display: block;
        margin-bottom: 8px;
      }
      input[type="submit"] {
        margin-top: 16px;
      }
    </style>
  </head>
  <body>
 
    <% const msg = '';%>

    <h1>Excluir dono <%= data.nome %></h1>
    <% if (msg) { %>
    <p><%= msg %></p>
    <% } %>

    
    <form action="/delete/dono/<%= data.cod_dono_veiculo %>" method="post">
      <label for="confirm-delete">Tem certeza que deseja excluir o dono <%= data.nome %>?</label>
      <input type="checkbox" id="confirm-delete" name="confirm-delete" required>
      <input type="submit" value="Deletar">
    </form>
    <a href="/index/dono">cancelar</a>
  </body>
</html>
