<!DOCTYPE html>
<html>

<head>
    <title>Formulário com Quadrados Alinhados</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Estilos adicionais */
        .square {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 24px;
            color: white;
            height: 200px;
        }

        .square.usuario {
            background-color: blue;
        }

        .square.veiculo {
            background-color: green;
        }

        .square.dono-veiculo {
            background-color: red;
        }

        .square:hover {
            border-radius: 20%;
            cursor: pointer;
            border: solid 2px black;
        }
    </style>
</head>

<body>
   
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/index">Alcides Veículos</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/index">Página Inicial</a>
                </li>
                <li class="nav-item">
                    <span class="nav-link"> Bem-vindo, <%= username %> </span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h1 class="text-center mt-5 mb-4">Alcides Veículos</h1>
        <form>
            <div class="row">
                <div class="col-md-4">
                    <div class="square usuario">
                        <a href="/index/usuario" class="text-white">Usuário</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="square veiculo">
                        <a href="#" class="text-white">Veículo</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="square dono-veiculo">
                        <a href="/index/dono" class="text-white">Dono</a>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
